
     body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f3f5f9;
            color: #333;
            overflow :hidden;
        }

        header {
            background: linear-gradient(135deg, #4A00E0, #8E2DE2);
            padding: 20px;
            text-align: center;
            color: white;
        }
        header h1 {
            margin: 0;
            font-size: 42px;
            letter-spacing: 1px;
        }

        header p {
            font-size: 20px;
            margin-top: 10px;
        }

        .container {
            width: 80%;
            max-width: 900px;
            margin: 40px auto;
            background: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
        }

        h2 {
            color: #4A00E0;
        }

        button {
            background: #8E2DE2;
            border: none;
            padding: 12px 20px;
            border-radius: 6px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;
        }

        button:hover {
            background: #645979;
        }